<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main>
            <%- body %>
            <%- include('../partials/welcome') %>
            <%- include('../partials/hero_image') %>
            <div class="cards">
                <%- include('../partials/upgrades') %>
                <%- include('../partials/reviews') %>
            </div>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>